*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}
body{
    background-color:hsla(0, 3%, 44%, 0.3);
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;

}
.heading h1{
    font-size: 50px;
    color: brown;
    margin-bottom: 25px;
    position: relative;
   
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: rgb(8, 8, 8);
     text-decoration: underline;
}
.heading p{
    font-size: 18px;
    color: rgb(3, 3, 3);
    margin-bottom: 35px;
}
  .container{  
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
 .about{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
  .about-image{  
    flex: 5;
   margin-right: 40px ;
    overflow: hidden;
} 
.about-image img{ 
    max-width:100 %;
    height:auto;
    display: block;
    transition: 0.5s ease;

   
   
}
.about-image:hover img{
    transform: scale(1.2);
}
 .about-content{ 
    flex: 5;
}
 .about-content h2{ 
    font-size: 23px;
    margin-bottom: 15px;
    color: rgb(12, 12, 12);
}
.about-content p{
    font-size: 18px;
  line-height: 1.5;
    color: black;
    display:flex;

}
.read-more{
   display: inline-block;
    padding: 10px 20px;
    background-color:brown;
    color:white;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.about-content.read-more:hover{
    background-color: chartreuse;

 }   
@media (max-width: 480px) {
  .heading h1 {
    font-size: 30px;
  }

  .heading p {
    font-size: 14px;
  }

  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-content h2 {
    font-size: 20px;
  }

  .about-content p {
    font-size: 16px;
  }

  .read-more {
    font-size: 16px;
    padding: 8px 16px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .heading h1 {
    font-size: 40px;
  }

  .heading p {
    font-size: 16px;
  }

  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-content h2 {
    font-size: 22px;
  }

  .about-content p {
    font-size: 17px;
  }
}
@media (min-width: 769px) {
  .about {
    flex-direction: row;
  }

  .heading h1 {
    font-size: 50px;
  }

  .about-content p {
    font-size: 18px;
  }
}
