*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* background-image: url(lib\ book\ back.jpg); */
   color: white;
}
h1{
    color: black;
    text-align: center;
   

    
}
a{
    text-decoration: none;
    color: blanchedalmond;
}

a:active{
    color:rgb(241, 239, 239);
}
.con{
    width: 1000px;
    height: 900px;
    padding: 10px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
  
   
}
.table-striped{
    background-color: brown;

}
.table-hover{
    background-color:brown;
}
@media (max-width: 480px) {
  body {
    background-color: brown;
  }

  .con {
    width: 95%;
    margin: 20px auto;
    padding: 8px;
  }

  h1 {
    font-size: 22px;
  }

  .table-striped th,
  .table-striped td {
    font-size: 12px;
    padding: 6px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .con {
    width: 90%;
    margin: 30px auto;
    padding: 10px;
  }

  h1 {
    font-size: 26px;
  }

  .table-striped th,
  .table-striped td {
    font-size: 14px;
  }
}
@media (min-width: 769px) {
  .con {
    width: 1000px;
  }

  h1 {
    font-size: 32px;
  }

  .table-striped th,
  .table-striped td {
    font-size: 16px;
  }
}
