body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}


.img{

    background-image: url(img2.webp);
    height: 120vh;
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 1380 px;
    background-color: rgb(128, 37, 37);
    color:gold;
    padding: 15px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar.navbar-logo{
    font-size: 35px;
    color: black;
}
.navbar ul{
    list-style: none;
    gap: 25px;
    display: flex;
}
.navbar ul  li a{
    padding: 30px;
    text-decoration:none;
    font-size: 18px;
    color: rgb(243, 239, 239);
    transition: 0.3s ease;
    outline: none;
}
.navbar ul li a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 5px;
    background-color: white;
    transition: 0.3s ease;

}
.navbar ul li a:hover{
    color: black;
}
.navbar ul li a:hover::before{
    width: 100px;
}
.navbar-search{
    display: flex;
    align-items: center;
    transition: 0.3s ease;

}
.navbar-search input{
    padding: 7px 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 17px;
    margin-left: 10px;
    width: 150px;
    background-color: rgb(239, 234, 243);
    color: black;
    transition: 0.3s ease;
    justify-content: space-between;
}
.navbar-search input:focus{
    width: 200px;
    background-color:rgb(173, 121, 121);

}
.navbar-search button{
    font-size: 15px;
    padding: 6px 13px;
    background-color: rgb(135, 132, 132);
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    justify-content: space-between;
}
.navbar-search button:hover{
    background-color: rgb(72, 74, 74);
}
.item{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
form{
    font-family:sans-serif;
    cursor: pointer;
    width: 25rem;
    height:30rem;
    flex-direction: column;
    background-color:rgb(255, 255, 255,0.06);
    box-shadow: 0 8px 32px rgb(33, 38,135,.37);
    border-radius: 30px;
    border-left: 1px solid rgb(255, 255, 255,.3);
    border-top: 1px solid rgb(255, 255, 255,.3);
   

}

h1{
    font-size: 50px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgb(0,0,0,.6);
    letter-spacing: 3px;
    margin-bottom:5% ;
    opacity: .7 ;
}
label{
    font-size: 30px;
    color: rgb(3, 3, 3);
    margin-left: 10%;
    opacity: .8;
    text-shadow: 2px 2px 4px rgb(0,0,0,.2);

}
input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    font-size: 20px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(3, 3, 3);
    border-bottom: 1px solid rgb(255,255,255,0.8);
    opacity: .7;
}
button{
    width: 40%;
    margin:3% auto;
    color: rgb(10, 10, 10);
    font-size: 15px;
    opacity: .9;
    background-color: rgb(255,255,255,0.6);
    padding: 10px 30px ;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgb(255,255,255,0.2);
    box-shadow:2px 2px 4px rgb(31,38,135,.37); 
    border-left: 1px solid rgb(255,255,255,0.5);
     border-top: 1px solid rgb(255,255,255,0.5);
     justify-content: center;
     align-items: center;

}
h3{
    font-size: 20px;
    text-align: center;
    color:rgb(13, 13, 13.6);
    opacity: .9;
}
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    padding: 10px 20px;
    text-align: center;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .navbar-search {
    margin-top: 10px;
  }

  .item {
    margin-top: 20px;
  }

  form {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  h1 {
    font-size: 32px;
  }

  label {
    font-size: 18px;
  }

  input {
    font-size: 16px;
  }

  button {
    width: 60%;
    font-size: 14px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    padding: 10px 40px;
  }

  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  form {
    width: 70%;
    height: auto;
  }

  h1 {
    font-size: 40px;
  }

  label {
    font-size: 22px;
  }

  input {
    font-size: 18px;
  }
}
@media (min-width: 769px) {
  .navbar {
    padding: 15px 75px;
  }

  form {
    width: 25rem;
    height: 30rem;
  }

  h1 {
    font-size: 50px;
  }
}
