*{
    margin: 0px;
    padding: 0px;
   box-sizing: border-box;
   font-family: "poppins" sans-serif;
}
.container{
    width: 1700px;
    height:100vh;
    background-image: url(bacgr.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-box{
    background-color: brown;
    text-align: center;
    padding: 40px 90px;
    color: white;
    position: relative;
    border-radius: 20px;

}
.menu-icon{
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;

}
.setting-icon{
    width: 25px;
    position: absolute;
    right: 40px;
    top: 40px;
    
}
.profile-icon{
    width: 150px;
    border-radius: 50%;
    background: white;
    padding: 6px;
    margin-top: 50px;
}
.social-media{
    display: flex;
}

.whats{
    width: 30px;
    position:relative;
    margin: 30px 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    
}
.email{
   
    width: 30px;
    position: relative;
     margin: 30px 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
   
}
.x{
    
    width: 30px;
    position: absolute;
     margin: 30px 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.arrow{
    width: 25px;
}
.profile-button{
    background-color: beige;
    color: black;
    padding: 60px 0;
    margin-right: -90px ;
    margin-left: -90px;
    margin-bottom: -50px;
    border-radius: 20px;
    margin-top: 10px;

}
.profile-button img{
    width: 15px;
    margin-top: 15px;
    cursor: pointer;
}
.profile-box button{
    background: rgb(179, 127, 127);
    color: bisque;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgb(244,67,54,0.5);
    padding: 15px 60px ;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 600;
    font-size: 16px;


}
.profile-box h3{
    font-size: 32px;
    margin-top: 20px;
    font-weight: 500;
}
@media (max-width: 480px) {
  .container {
    padding: 20px;
  }

  .profile-box {
    padding: 25px 30px;
    width: 90%;
  }

  .menu-icon,
  .setting-icon {
    width: 20px;
    top: 20px;
  }

  .profile-icon {
    width: 100px;
    margin-top: 20px;
  }

  .profile-box h3 {
    font-size: 24px;
  }

  .social-media img {
    width: 25px;
    margin: 15px 5px;
  }

  .profile-box button {
    padding: 12px 40px;
    font-size: 14px;
  }

  .profile-button {
    padding: 40px 0;
    margin: 10px -50px -30px -50px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .profile-box {
    padding: 35px 60px;
    width: 80%;
  }

  .profile-icon {
    width: 130px;
  }

  .profile-box h3 {
    font-size: 28px;
  }

  .profile-box button {
    padding: 14px 50px;
    font-size: 15px;
  }
}
@media (min-width: 769px) {
  .profile-box {
    padding: 40px 90px;
    width: 400px;
  }

  .profile-box h3 {
    font-size: 32px;
  }
}
